body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #45a049;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: #45a049;
}

a {
    color: #009579;
}

.centre-green {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 5px;
  }

  .centre {
    margin: auto;
    width: 50%;
    padding: 5px;
  }
  
  button {
      margin:10px;
      
  }

  .btn {
    background-color: #45a049;
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    text-decoration: none;
    border:none;
  }

  /* Table styling */
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  .red-text {
    color: red;
  }

  #container {
    padding:10px;
  }

  /* Form styling */

  input[type=text], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }